@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


:root{
    --cor-titulo:hsl(210, 10%, 33%);
    --cor-paragrafo:hsl(201, 11%, 66%);
}

*{
    padding: 0;
    margin: 0;

    font-family: Bai Jamjuree;

}

h1,h2{
    color: var(--cor-titulo);
}

p{
    color: var(--cor-paragrafo);   
}




