.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.header-container {
    background-image: url('./images/bg-header-desktop.png');
    background-repeat: no-repeat;
    text-align: center;

    padding-top: 100px;
}

.header-container h1{
    font-weight: 600;
    margin-top: 40px;

}

.header-container p{
    margin-top: 25px;
    font-weight: 400;
  
}

.header-container section{
    margin-top: 30px;
}

.header-container section a{
    color: #ffff;
    padding: 10px 30px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 50px;
}

.ios{
    background-color: hsl(171, 66%, 44%);
}
.mac{
    background-color: hsl(233, 100%, 69%);
}

.header-container section a:hover{
    padding: 8px 25px;
    transition: 0.5s;
}

.container-main{
    margin-top: 100px;
    text-align: center;
}

.container-main p{
    margin-top: 25px;
}



.desktop-info{
    margin-top: 100px;
    margin-bottom: 302px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 70px;
    grid-template-rows: 400px;
    
}

.desktop-info ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    margin-top: 70px;

}

.desktop-info ul li{
    list-style: none;
}
.desktop-info ul h2{
    font-size: 18px;
    font-weight: 600;
}


.container-main img:last-child{
    margin-top: 70px;
}

.functions-info{
    text-align: center;
}

.functions-info p{
    margin-top: 20px;
}

.functions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    text-align: center; 
    margin: 50px 100px;
}

.functions li{
    display: flex;
    align-items: center;
    flex-direction:column ;
    flex-basis: 300px;

}

.functions img{
    margin-bottom: 30px;
    width: 44px;
}


.companies{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 150px 100px;

}


